﻿@model IEnumerable<WebApplication1.Models.News> 
@{
    ViewBag.Title = "Index";
}

<h1>首頁</h1>

<h4>網站架構中...</h4>

@foreach(var item in Model)
{
    <p>
        <a href="@Url.Action("Details","Home",new {id =item.Id})">@item.Title</a>
    </p>
}