﻿
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="/Home/Login" method="post">  
    <table>
        <tr>
            <td>帳號:</td><td> <input type="text" name="email" />  </td>
        </tr>
        <tr>
            <td>密碼:</td><td> <input type="password" name="pwd" /></td>
        </tr>
 
    </table>
    <input type="submit" value="登入" />
</form>
@if (!String.IsNullOrEmpty(ViewBag.Msg))
{
    <div> <p style="color:red">@ViewBag.Msg</p></div>
}